/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 janv. 2017, 16:30:26
    Author     : lapin
*/

.input{
    border:1px solid #AAA;
    height:20px;
    width:300px;
    resize:none;
    padding:3px;
    overflow:auto;
    border-radius:09px;
    border-width: 5px;
    border-color: #999900;
    font-family:'Times New Roman';
}

.text{ 
    background-color: #ff9919;
    background-image:url("png/twitter_large_1.png") ;
    border: 5px solid #ff0000;
    border-radius: 09px;
    font-family: "Futura Condensed Extrabolt",sans-serif;
    resize: none;
}

